<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-section ion-padding-top ion-text-center">


    <h2 class="profile-name">Nombre de Usuario</h2>
    <p class="profile-email">usuario&#64;correo.com</p>
  </div>


  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>Mi Diario</ion-label>
    </ion-list-header>

    <ion-item [button]="true" [detail]="true"  routerLink="/show-place">
      <ion-icon slot="start" name="location-outline"></ion-icon>
      <ion-label>Mis Lugares</ion-label>
    </ion-item>

    <ion-item [button]="true" [detail]="true" >
      <ion-icon slot="start" name="map-outline"></ion-icon>
      <ion-label>Mis Rutas</ion-label>
    </ion-item>

    <ion-item [button]="true" [detail]="true" >
      <ion-icon slot="start" name="bookmark-outline"></ion-icon>
      <ion-label>Por Visitar</ion-label>
    </ion-item>
  </ion-list>


  <ion-list [inset]="true">
    <ion-item>
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-button expand="block" color="danger" (click)="logout()">Cerrar Sesion</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
