<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    @if (isLogged) {
      <ion-tab-button (click)="openModal()"> <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Crear</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="account" href="/account">
        <ion-icon name="person"></ion-icon>
        <ion-label>Cuenta</ion-label>
      </ion-tab-button>
    }

    @else {
      <ion-tab-button tab="login" [routerLink]="['/auth/login']">
        <ion-icon name="person"></ion-icon>
        <ion-label>Ingresar</ion-label>
      </ion-tab-button>
    }
  </ion-tab-bar>
</ion-tabs>
