<ion-grid style="height: 100%;">
  <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
    <ion-col size="12" size-md="6" size-lg="4">
      <form [formGroup]="formLogin">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" name="username" formControlName="username" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input name="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-button shape="round" expand="full" type="submit" style="margin-top: 20px;" (click)="onSubmit()">
            Iniciar Sesion
          </ion-button>
          <ion-button shape="round" href="auth/register" expand="full" style="margin-top: 20px;">
            Registrase
          </ion-button>
        </ion-list>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
