<ion-content class="ion-padding">
<ion-grid >
  <ion-row class="ion-justify-content-center ion-align-items-center" >
    <ion-col size="12" size-md="6" size-lg="4">
      @if (placeEdit && placeEdit.id) {
        <h1 class="ion-text-center">EDITAR LUGAR TURISTICO</h1>
      }@else {
        <h1 class="ion-text-center">INGRESA TU LUGAR TURISTICO</h1>
      }


      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
            @if (name.touched && name.invalid) {
              @if (name.hasError('required')) {
                <ion-note color="danger">*Campo Requerido</ion-note>
              }
            }
          </ion-item>
          <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-textarea formControlName="description"></ion-textarea>
            @if(description.touched && description.invalid){
              @if (description.hasError('required')){
                <ion-note color="danger">*Campo Requerido</ion-note>
              }
              @if(description.hasError('maxlength')){
                <ion-note color="danger">*Maximo 200 caracteres</ion-note>
              }
            }
          </ion-item>
          <ion-item>
            <ion-label position="floating">Provincia</ion-label>
            <ion-input type="text" formControlName="provincia"></ion-input>
            @if (provincia.invalid && provincia.touched){
              @if (provincia.hasError('required')){
                <ion-note color="danger">*Campo Requerido</ion-note>
              }
              @if (provincia.hasError('hasSpace')){
                <ion-note color="danger">*No se permiten espacios</ion-note>
              }
              @if(provincia.hasError('notNumber')){
                <ion-note color="danger">*No se permiten numeros</ion-note>
              }
            }
          </ion-item>
          <ion-item>
            <ion-label position="floating">Ciudad</ion-label>
            <ion-input type="text" formControlName="city"></ion-input>
            @if (city.invalid && city.touched){
              @if (city.hasError('required')){
                <ion-note color="danger">*Campo Requerido</ion-note>
              }
              @if(city.hasError('notNumber')){
                <ion-note color="danger">*No se permiten numeros</ion-note>
              }
            }
          </ion-item>
          <ion-item>
            <ion-label position="floating">Tipo de Lugar</ion-label>
            <ion-input type="text" formControlName="typePlace"></ion-input>
            @if(typePlace.invalid && typePlace.touched){
              @if (typePlace.hasError('required')){
                <ion-note color="danger">*Campo Requerido</ion-note>
              }
              @if(typePlace.hasError('notNumber')){
                <ion-note color="danger">*No se permiten numeros</ion-note>
              }
            }
          </ion-item>
          <ion-item>
            <ion-button expand="block" (click)="onTakePhoto()">
              Tomar foto
            </ion-button>

            @if (picture.invalid && picture.touched){
              @if (picture.hasError('required')){
                <ion-note color="danger">*Campo Requerido</ion-note>
              }
            }

            @if (picture.value && !photos.length) {
              <ion-grid class="ion-margin-top">
                <ion-row>
                  <ion-col size="12" sizeMd="3">
                    <ion-card class="photo-card">
                      <img [src]="picture.value" alt="Foto guardada" style="width: 100%; height: 200px; object-fit: cover;" />
                      <ion-item lines="none">
                        <ion-label>Foto Actual</ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-button color="danger" fill="solid" (click)="clearExistingPhoto()">
                          <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-button>
                      </ion-item>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            }

            @if (photos.length) {
              <ion-grid class="ion-margin-top">
                <ion-row>
                  @for (p of photos; track p.fileName) {
                    <ion-col size="12" sizeMd="3">
                      <ion-card class="photo-card">
                        <img [src]="p.photoBase64" alt="Nueva foto" style="width: 100%; height: 200px; object-fit: cover;"/>
                        <ion-item lines="none">
                          <ion-label>Nueva Foto</ion-label>
                        </ion-item>
                        <ion-item>
                          <ion-button color="danger" fill="solid" (click)="deletePhoto(p)">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                          </ion-button>
                        </ion-item>
                      </ion-card>
                    </ion-col>
                  }
                </ion-row>
              </ion-grid>
            }
          </ion-item>
          <ion-item>
            <ion-button expand="block" (click)="getLocation()">Obtener Ubicacion</ion-button>
            <div id="map"></div>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Precio</ion-label>
            <ion-input type="text" formControlName="price"></ion-input>
            @if(price.invalid && price.touched){
              @if (price.hasError('required')){
                <ion-note color="danger">*Campo Requerido</ion-note>
              }
              @if(price.hasError('min')){
                <ion-note color="danger">*El precio minimo es 0</ion-note>
              }
              @if(price.hasError('max')){
                <ion-note color="danger">*El precio maximo es 10000</ion-note>
              }
            }
          </ion-item>
          @if(placeEdit && placeEdit.id){
            <ion-button shape="round" expand="full" type="submit" style="margin-top: 20px;" [disabled]="form.invalid">
              Actualizar Lugar Turistico
            </ion-button>
          } @else{
            <ion-button shape="round" expand="full" type="submit" style="margin-top: 20px;" [disabled]="form.invalid">
              Ingresar Lugar Turistico
            </ion-button>
          }

          <div style="height: 100px;"></div>
        </ion-list>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
